<main>

    <section class="expense-report">

        <h1>ID: {{expense._id}}</h1>

        <div class="report-category">
            <img src="static/images/amount.png" alt="">
            <p>{{expense.merchant}} - лв {{expense.total}}.00</p>
        </div>

        <div class="report-merchant">
            <p>{{expense.category}}</p>
        </div>

        <div class="report-description">
            <img src="static/images/hastag.png" alt="">
            <p>{{expense.description}}</p>
        </div>

        <div class="report-action">
            <a disabled href="/expenses/delete/{{expense._id}}">Stop tracking</a>
        </div>
    </section>
</main>